body{

 
    background-color:#F49C98;
    
    
}
img{
    width:454px;height:416px;border:10px double wheat;padding: 10px;
    background-color: 
}
h1{
   text-align: center;
   
   color:#050609;
    
}
ul{
   font-family:Times New Roman, Helvetica, sans-serif;
}
img{
    margin-left: auto;
    margin-right: auto;
    
}